.info-image {
    position: relative;
    background-size: cover;
    background-position: 50% 0%;
    background-attachment: fixed;
    background-image: url( "~../images/workshop.jpg" );
    height: 80vh;
}

.info-body {
    position: absolute;
    top: 100%;
    width: 60%;
    padding: $padding;
    text-align: center;
    font-size: $button;
    background-color: rgba( $white, 80% );
}